.u-section-1 .u-sheet-1 {
  min-height: 791px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  min-height: 654px;
  background-image: url("images/little-boy-smiling-happiness-paper-craft-arts-rocket-studio-portrait.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 773px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 29px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 0 40px;
}

.u-section-1 .u-form-1 {
  width: 510px;
  margin: 30px 40px 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 211px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 0 29px 0 auto;
  padding: 8px 206px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-1 .u-image-1 {
    min-height: 406px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 745px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 29px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-form-1 {
    height: 512px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 11px;
    width: 470px;
  }

  .u-section-1 .u-btn-1 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -6px;
    margin-right: 11px;
    padding-right: 181px;
    padding-left: 180px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-1 .u-image-1 {
    min-height: 565px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 709px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 360px;
    margin-top: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: auto;
    padding-right: 130px;
    padding-left: 129px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 901px;
  }

  .u-section-1 .u-image-1 {
    min-height: 424px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 657px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 222px;
    padding-left: 220px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-1 .u-image-1 {
    min-height: 267px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 671px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 118px;
    padding-left: 117px;
  }
}