.u-section-1 .u-sheet-1 {
  min-height: 148px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 7px 0 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-form-1 {
  height: 135px;
  margin: -40px 787px 7px 21px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  font-weight: 700;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 608px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 388px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 144px;
    margin-right: auto;
    margin-left: 0;
    padding-right: 157px;
    padding-left: 156px;
  }

  .u-section-1 .u-form-1 {
    margin: -175px 0 60px -12px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-left: auto;
    padding-right: 52px;
    padding-left: 51px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 552px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 466px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1208px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1263px;
  }
}